<div style="border: 2px solid black; height: 100vh; display: flex; justify-content: center; align-items: center;">

  <div style="width: 300px; border: 2px solid black; padding: 20px; border-radius: 20px;">

    <%= form_with model: project, local: true do |form| %>

      <div>
        <%= form.label :project_name %><br>
        <%= form.text_field :project_name %>
      </div>
      <br>
      <div>
        <%= form.label :start_date %><br>
        <%= form.date_field :start_date %>
      </div>
      <br>
      <div>
        <%= form.label :end_date %><br>
        <%= form.date_field :end_date %>
      </div>
      <br>
      <div>
        <%= form.label :avatars %>
        <%= form.file_field :avatars, multiple: true %>
      </div>
      <br>
      <div>
        <%= form.label :status %>
        <%= form.select :status, ["Pending", "In-Progress", "Completed"] %>
      </div>
      <br>
      <div>
        <%= form.label :developers %>
        <%= form.collection_check_boxes :developer_ids, @developers, :id, :name do |b| %>
        <div>
          <%= b.check_box %>
          <%= b.label %>
        </div>
        <% end %>
      </div>

      <%= form.submit "Create" %>

    <% end %>
  </div>
</div>
